.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    text-decoration: none;
    color: black;
    padding: 0.3em;
    margin: 0.5em;
    display: flex;
    width: 45%;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px 0px #ccc;
}

.card>div>p:first-child {
    font-size: 22px;
}

.card p {
    margin-bottom: 0.2em;
}

.card img {
    width: 100px;
    margin-right: 0.5em;
}